@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding:0 ;
    box-sizing: border-box  ;
    font-family: "Google Sans", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./img/8bit-pixel-graphic-blue-sky-background-with-clouds-vector.jpg');
    background-size: cover;
}

.container{
    width: 420px;
    background-color: transparent;
    border: 2rem solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: #fff;
    padding: 30px 40px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    backdrop-filter: blur(60px); 
}

.container h1{
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.1);
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    border-radius: 5px;
}

.input-box ::placeholder{
    color: rgba(255, 255, 255, 0.5);

}

.input-box i{
    position: absolute;
   right: 20px;
   font-size: 20px; 
   top: 50%;
   transform: translateY(-50%);
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -15px 0px 50px;
}

.remember-forgot label forgot{
    accent-color: #fff;
    margin: 5px 0%;
}
.remember-forgot a{
    text-decoration: none;
    color: #fff;
}
.remember-forgot a:hover{
    text-decoration: underline;
}

.login {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius:40px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.login:hover{
    background-color:transparent;
    border: 2px solid #fff;
    color: #fff;
    transition: 0.3s;
}

.register-link{                  
    text-align: center;
    margin: 150px 0 15px;
    font-size: 14px;
}

.register-link a{
    text-decoration: none;
    color: #fff;    
    font-weight: 300;
}

.register-link a:hover{
    text-decoration: underline;
    color:#333
}


